In [1]:
import pandas as pd

In [2]:
df = pd.read_csv(r'C:\Users\Satyam\Downloads\Bengaluru_House_Data.csv')

In [3]:
df

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.0,120.00
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,@@@@@@,1440,2.0,3.0,62.00
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.0,95.00
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,NaN,1200,2.0,1.0,51.00
...,...,...,...,...,...,...,...,...,...
13315,Built-up Area,Ready To Move,Whitefield,5 Bedroom,ArsiaEx,3453,4.0,0.0,231.00
13316,Super built-up Area,Ready To Move,Richards Town,4 BHK,NaN,3600,5.0,NaN,400.00
13317,Built-up Area,Ready To Move,Raja Rajeshwari Nagar,2 BHK,Mahla T,1141,2.0,1.0,60.00
13318,Super built-up Area,18-Jun,Padmanabhanagar,4 BHK,SollyCl,4689,4.0,1.0,488.00
13319,Super built-up Area,Ready To Move,Doddathoguru,1 BHK,NaN,550,1.0,1.0,17.00

In [4]:
df.isnull().sum()

area_type          0
availability       0
location           1
size              16
society         5501
total_sqft         0
bath              73
balcony          609
price              0
dtype: int64

In [6]:
df['balcony'].isnull().sum()/df.shape[0]*100

4.572072072072072

In [10]:
df['balcony'].dtype

dtype('float64')

In [11]:
# mean/median/mode
df['balcony'].mean()

1.5843757375501535

In [13]:
a = df['balcony'].median()

In [14]:
# fillna
df['balcony'] = df['balcony'].fillna(a)

In [15]:
df['balcony'].isnull().sum()

0

In [16]:
df.isnull().sum()

area_type          0
availability       0
location           1
size              16
society         5501
total_sqft         0
bath              73
balcony            0
price              0
dtype: int64

In [17]:
df.shape[0]

13320

In [19]:
df['society'].dtype

dtype('O')

In [29]:
x = df['society'].mode()

In [30]:
df['society'] = df['society'].fillna(x[0])

In [31]:
df['society'].isnull().sum()

0

In [32]:
df.isnull().sum()

area_type        0
availability     0
location         1
size            16
society          0
total_sqft       0
bath            73
balcony          0
price            0
dtype: int64

In [33]:
df['society']

0        Coomee
1        Theanmp
2         @@@@@@
3        Soiewre
4        GrrvaGr
          ...
13315    ArsiaEx
13316    GrrvaGr
13317    Mahla T
13318    SollyCl
13319    GrrvaGr
Name: society, Length: 13320, dtype: object

In [36]:
df['society'].replace(to_replace='@@@@@@',value = 'GrrvaGr',inplace = True)

In [37]:
df['society']

0        Coomee
1        Theanmp
2        GrrvaGr
3        Soiewre
4        GrrvaGr
          ...
13315    ArsiaEx
13316    GrrvaGr
13317    Mahla T
13318    SollyCl
13319    GrrvaGr
Name: society, Length: 13320, dtype: object

In [38]:
df['society']

0        Coomee
1        Theanmp
2        GrrvaGr
3        Soiewre
4        GrrvaGr
          ...
13315    ArsiaEx
13316    GrrvaGr
13317    Mahla T
13318    SollyCl
13319    GrrvaGr
Name: society, Length: 13320, dtype: object

In [39]:
df['bath'].mean()

2.6926096474673513

In [40]:
df['bath'].median()

2.0